*
{
	margin: 0 auto;
	padding: 0 auto;
}
body
{
	background-color: #e87400;
	padding-top: 50px;
 }
.wrapper
{
	display: flex;
	flex-direction: column;
	width: 960px;
}

.title
{
	font-size: 42px;

}


.block1
{
	margin-top: 40px;
	width: 100%;
}

input
{
	font-size: 32px;
}

.block2
{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}
.one
{
	margin-top: 30px;
	border-radius: 10px;
	border: 1px solid grey;
	padding: 17px;
	box-sizing: border-box;
	background-color: white;
}